body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header,
.section1,
.footer {
  background-color: #1f2937;
}

.header h2 {
  font-size: 24px;
  color: #F9FAF8;
}

.section1 h4, 
.header li {
  font-size: 18px;
  color: #E5E7EB;
}

.section1 h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;  

}

.header {
  display: flex;
  justify-content: space-around;
  }

.section2 {
  display: flex;
}

.section1 {
  display: flex;
  justify-content: space-around;
  padding: 100px 245px;
}

h1,
h4 {
  margin: 0px;
}


