body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header,
.section1,
.footer {
  background-color: #1f2937;
}

.header h2 {
  font-size: 24px;
  color: #F9FAF8;
}

.section1 h4, 
.header li {
  font-size: 18px;
  color: #E5E7EB;
}

.section1 h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;  

}

.header {
  display: flex;
  justify-content: space-around;
  }

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px;
  gap: 45px;
}

.section1 {
  display: flex;
  justify-content: center;
  padding: 100px 145px;
  align-content: center;
  gap: 100px;
}

h1,
h4 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.section1 button {
  background-color: #3882f6;
  padding: 9px 36px;
  border-radius: 10px;
  color: #F9FAF8;
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
}

.allImgAndText {
  display: flex;
  gap: 85px;
}

#section2 img {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  border-width: thick;
}

#section2 h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 0;
}

#quoteSection {
  background-color: #E5E7EB;
  padding: 120px;
}

#quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 0;
  text-align: center;
}

#speaker {
  text-align: right;
}

.imageAndText {
  text-align: center;
}

#finalSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

#callBox {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 45px 125px;
  border-radius: 10px;
  gap: 100px;
  color: #F9FAF8;
}

#callBox *{
  margin: 0;
}

#callBox button {
  border-radius: 5px;
  border-style: solid;
  border-color: #F9FAF8;
  background-color: #3882f6;
  padding: 10px;
  color: #F9FAF8;
  font-weight: bold;
}






